#
# latex gitignore file
#

# data & misc
*.h5
*.dat
*.hdf
*.mat
*.core
*.rtp

# tex work files
*.bib
auto
*.aux
*.bbl
*.blg
*.lof
*.log
*.lot
*.nav
*.out
*.snm
*.toc
*.dvi
*.pdfsync
*.synctex.gz

*~

